client/web/WEB-INF/wsdl/localhost_8080/server/proces_data.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.com/" name="proces_data">
<types>
<xsd:schema>
<xsd:import namespace="http://server.com/" schemaLocation="http://localhost:8080/server/proces_data?xsd=1" />
</xsd:schema>
</types>
<message name="addItem">
<part name="parameters" element="tns:addItem" />
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse" />
</message>
<message name="addType">
<part name="parameters" element="tns:addType" />
</message>
<message name="addTypeResponse">
<part name="parameters" element="tns:addTypeResponse" />
</message>
<message name="get_list_unassigneds">
<part name="parameters" element="tns:get_list_unassigneds" />
</message>
<message name="get_list_unassignedsResponse">
<part name="parameters" element="tns:get_list_unassignedsResponse" />
</message>
<message name="execute_delete_AssignCont1">
<part name="parameters" element="tns:execute_delete_AssignCont1" />
</message>
<message name="execute_delete_AssignCont1Response">
<part name="parameters" element="tns:execute_delete_AssignCont1Response" />
</message>
<message name="execute_insert_AssignCont1">
<part name="parameters" element="tns:execute_insert_AssignCont1" />
</message>
<message name="execute_insert_AssignCont1Response">
<part name="parameters" element="tns:execute_insert_AssignCont1Response" />
</message>
<message name="generator_work_barcode">
<part name="parameters" element="tns:generator_work_barcode" />
</message>
<message name="generator_work_barcodeResponse">
<part name="parameters" element="tns:generator_work_barcodeResponse" />
</message>
<message name="generator_work_mains">
<part name="parameters" element="tns:generator_work_mains" />
</message>
<message name="generator_work_mainsResponse">
<part name="parameters" element="tns:generator_work_mainsResponse" />
</message>
<message name="get_raport_catitem">
<part name="parameters" element="tns:get_raport_catitem" />
</message>
<message name="get_raport_catitemResponse">
<part name="parameters" element="tns:get_raport_catitemResponse" />
</message>
<message name="get_raport_catitems_1">
<part name="parameters" element="tns:get_raport_catitems_1" />
</message>
<message name="get_raport_catitems_1Response">
<part name="parameters" element="tns:get_raport_catitems_1Response" />
</message>
<message name="get_raport_empitems">
<part name="parameters" element="tns:get_raport_empitems" />
</message>
<message name="get_raport_empitemsResponse">
<part name="parameters" element="tns:get_raport_empitemsResponse" />
</message>
<message name="get_raport_empitems_1">
<part name="parameters" element="tns:get_raport_empitems_1" />
</message>
<message name="get_raport_empitems_1Response">
<part name="parameters" element="tns:get_raport_empitems_1Response" />
</message>
<message name="get_raport_empitems_2">
<part name="parameters" element="tns:get_raport_empitems_2" />
</message>
<message name="get_raport_empitems_2Response">
<part name="parameters" element="tns:get_raport_empitems_2Response" />
</message>
<message name="get_raport_fostangajat">
<part name="parameters" element="tns:get_raport_fostangajat" />
</message>
<message name="get_raport_fostangajatResponse">
<part name="parameters" element="tns:get_raport_fostangajatResponse" />
</message>
<message name="get_raport_infoangajat">
<part name="parameters" element="tns:get_raport_infoangajat" />
</message>
<message name="get_raport_infoangajatResponse">
<part name="parameters" element="tns:get_raport_infoangajatResponse" />
</message>
<message name="get_raport_infitem">
<part name="parameters" element="tns:get_raport_infitem" />
</message>
<message name="get_raport_infitemResponse">
<part name="parameters" element="tns:get_raport_infitemResponse" />
</message>
<message name="get_raport_infitem_1">
<part name="parameters" element="tns:get_raport_infitem_1" />
</message>
<message name="get_raport_infitem_1Response">
<part name="parameters" element="tns:get_raport_infitem_1Response" />
</message>
<message name="get_raport_infitem_2">
<part name="parameters" element="tns:get_raport_infitem_2" />
</message>
<message name="get_raport_infitem_2Response">
<part name="parameters" element="tns:get_raport_infitem_2Response" />
</message>
<message name="get_raport_intemes">
<part name="parameters" element="tns:get_raport_intemes" />
</message>
<message name="get_raport_intemesResponse">
<part name="parameters" element="tns:get_raport_intemesResponse" />
</message>
<message name="adduser">
<part name="parameters" element="tns:adduser" />
</message>
<message name="adduserResponse">
<part name="parameters" element="tns:adduserResponse" />
</message>
<message name="addItem1">
<part name="parameters" element="tns:addItem1" />
</message>
<message name="addItem1Response">
<part name="parameters" element="tns:addItem1Response" />
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser" />
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse" />
</message>
<message name="deleteType">
<part name="parameters" element="tns:deleteType" />
</message>
<message name="deleteTypeResponse">
<part name="parameters" element="tns:deleteTypeResponse" />
</message>
<message name="deleteItem">
<part name="parameters" element="tns:deleteItem" />
</message>
<message name="deleteItemResponse">
<part name="parameters" element="tns:deleteItemResponse" />
</message>
<message name="getAllUser">
<part name="parameters" element="tns:getAllUser" />
</message>
<message name="getAllUserResponse">
<part name="parameters" element="tns:getAllUserResponse" />
</message>
<message name="getAllTypes">
<part name="parameters" element="tns:getAllTypes" />
</message>
<message name="getAllTypesResponse">
<part name="parameters" element="tns:getAllTypesResponse" />
</message>
<message name="getAllItems">
<part name="parameters" element="tns:getAllItems" />
</message>
<message name="getAllItemsResponse">
<part name="parameters" element="tns:getAllItemsResponse" />
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById" />
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse" />
</message>
<message name="getTypeById">
<part name="parameters" element="tns:getTypeById" />
</message>
<message name="getTypeByIdResponse">
<part name="parameters" element="tns:getTypeByIdResponse" />
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById" />
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse" />
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser" />
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse" />
</message>
<message name="getAllNames">
<part name="parameters" element="tns:getAllNames" />
</message>
<message name="getAllNamesResponse">
<part name="parameters" element="tns:getAllNamesResponse" />
</message>
<message name="emp_items1">
<part name="parameters" element="tns:emp_items1" />
</message>
<message name="emp_items1Response">
<part name="parameters" element="tns:emp_items1Response" />
</message>
<message name="emp_items2">
<part name="parameters" element="tns:emp_items2" />
</message>
<message name="emp_items2Response">
<part name="parameters" element="tns:emp_items2Response" />
</message>
<message name="emp_items3">
<part name="parameters" element="tns:emp_items3" />
</message>
<message name="emp_items3Response">
<part name="parameters" element="tns:emp_items3Response" />
</message>
<message name="emp_items4">
<part name="parameters" element="tns:emp_items4" />
</message>
<message name="emp_items4Response">
<part name="parameters" element="tns:emp_items4Response" />
</message>
<message name="get_all_assign">
<part name="parameters" element="tns:get_all_assign" />
</message>
<message name="get_all_assignResponse">
<part name="parameters" element="tns:get_all_assignResponse" />
</message>
<message name="check_ussign">
<part name="parameters" element="tns:check_ussign" />
</message>
<message name="check_ussignResponse">
<part name="parameters" element="tns:check_ussignResponse" />
</message>
<message name="delete_unssign">
<part name="parameters" element="tns:delete_unssign" />
</message>
<message name="delete_unssignResponse">
<part name="parameters" element="tns:delete_unssignResponse" />
</message>
<message name="get_unssign_id">
<part name="parameters" element="tns:get_unssign_id" />
</message>
<message name="get_unssign_idResponse">
<part name="parameters" element="tns:get_unssign_idResponse" />
</message>
<message name="get_all_account">
<part name="parameters" element="tns:get_all_account" />
</message>
<message name="get_all_accountResponse">
<part name="parameters" element="tns:get_all_accountResponse" />
</message>
<message name="delete_Account">
<part name="parameters" element="tns:delete_Account" />
</message>
<message name="delete_AccountResponse">
<part name="parameters" element="tns:delete_AccountResponse" />
</message>
<message name="get_Account_byID">
<part name="parameters" element="tns:get_Account_byID" />
</message>
<message name="get_Account_byIDResponse">
<part name="parameters" element="tns:get_Account_byIDResponse" />
</message>
<message name="check_Account">
<part name="parameters" element="tns:check_Account" />
</message>
<message name="check_AccountResponse">
<part name="parameters" element="tns:check_AccountResponse" />
</message>
<message name="add_Account">
<part name="parameters" element="tns:add_Account" />
</message>
<message name="add_AccountResponse">
<part name="parameters" element="tns:add_AccountResponse" />
</message>
<message name="login_confirm">
<part name="parameters" element="tns:login_confirm" />
</message>
<message name="login_confirmResponse">
<part name="parameters" element="tns:login_confirmResponse" />
</message>
<message name="serch_date_get_1">
<part name="parameters" element="tns:serch_date_get_1" />
</message>
<message name="serch_date_get_1Response">
<part name="parameters" element="tns:serch_date_get_1Response" />
</message>
<message name="serch_date_get_2">
<part name="parameters" element="tns:serch_date_get_2" />
</message>
<message name="serch_date_get_2Response">
<part name="parameters" element="tns:serch_date_get_2Response" />
</message>
<portType name="proces_data">
<operation name="addItem">
<input wsam:Action="http://server.com/proces_data/addItemRequest" message="tns:addItem" />
<output wsam:Action="http://server.com/proces_data/addItemResponse" message="tns:addItemResponse" />
</operation>
<operation name="addType">
<input wsam:Action="http://server.com/proces_data/addTypeRequest" message="tns:addType" />
<output wsam:Action="http://server.com/proces_data/addTypeResponse" message="tns:addTypeResponse" />
</operation>
<operation name="get_list_unassigneds">
<input wsam:Action="http://server.com/proces_data/get_list_unassignedsRequest" message="tns:get_list_unassigneds" />
<output wsam:Action="http://server.com/proces_data/get_list_unassignedsResponse" message="tns:get_list_unassignedsResponse" />
</operation>
<operation name="execute_delete_AssignCont1">
<input wsam:Action="http://server.com/proces_data/execute_delete_AssignCont1Request" message="tns:execute_delete_AssignCont1" />
<output wsam:Action="http://server.com/proces_data/execute_delete_AssignCont1Response" message="tns:execute_delete_AssignCont1Response" />
</operation>
<operation name="execute_insert_AssignCont1">
<input wsam:Action="http://server.com/proces_data/execute_insert_AssignCont1Request" message="tns:execute_insert_AssignCont1" />
<output wsam:Action="http://server.com/proces_data/execute_insert_AssignCont1Response" message="tns:execute_insert_AssignCont1Response" />
</operation>
<operation name="generator_work_barcode">
<input wsam:Action="http://server.com/proces_data/generator_work_barcodeRequest" message="tns:generator_work_barcode" />
<output wsam:Action="http://server.com/proces_data/generator_work_barcodeResponse" message="tns:generator_work_barcodeResponse" />
</operation>
<operation name="generator_work_mains">
<input wsam:Action="http://server.com/proces_data/generator_work_mainsRequest" message="tns:generator_work_mains" />
<output wsam:Action="http://server.com/proces_data/generator_work_mainsResponse" message="tns:generator_work_mainsResponse" />
</operation>
<operation name="get_raport_catitem">
<input wsam:Action="http://server.com/proces_data/get_raport_catitemRequest" message="tns:get_raport_catitem" />
<output wsam:Action="http://server.com/proces_data/get_raport_catitemResponse" message="tns:get_raport_catitemResponse" />
</operation>
<operation name="get_raport_catitems_1">
<input wsam:Action="http://server.com/proces_data/get_raport_catitems_1Request" message="tns:get_raport_catitems_1" />
<output wsam:Action="http://server.com/proces_data/get_raport_catitems_1Response" message="tns:get_raport_catitems_1Response" />
</operation>
<operation name="get_raport_empitems">
<input wsam:Action="http://server.com/proces_data/get_raport_empitemsRequest" message="tns:get_raport_empitems" />
<output wsam:Action="http://server.com/proces_data/get_raport_empitemsResponse" message="tns:get_raport_empitemsResponse" />
</operation>
<operation name="get_raport_empitems_1">
<input wsam:Action="http://server.com/proces_data/get_raport_empitems_1Request" message="tns:get_raport_empitems_1" />
<output wsam:Action="http://server.com/proces_data/get_raport_empitems_1Response" message="tns:get_raport_empitems_1Response" />
</operation>
<operation name="get_raport_empitems_2">
<input wsam:Action="http://server.com/proces_data/get_raport_empitems_2Request" message="tns:get_raport_empitems_2" />
<output wsam:Action="http://server.com/proces_data/get_raport_empitems_2Response" message="tns:get_raport_empitems_2Response" />
</operation>
<operation name="get_raport_fostangajat">
<input wsam:Action="http://server.com/proces_data/get_raport_fostangajatRequest" message="tns:get_raport_fostangajat" />
<output wsam:Action="http://server.com/proces_data/get_raport_fostangajatResponse" message="tns:get_raport_fostangajatResponse" />
</operation>
<operation name="get_raport_infoangajat">
<input wsam:Action="http://server.com/proces_data/get_raport_infoangajatRequest" message="tns:get_raport_infoangajat" />
<output wsam:Action="http://server.com/proces_data/get_raport_infoangajatResponse" message="tns:get_raport_infoangajatResponse" />
</operation>
<operation name="get_raport_infitem">
<input wsam:Action="http://server.com/proces_data/get_raport_infitemRequest" message="tns:get_raport_infitem" />
<output wsam:Action="http://server.com/proces_data/get_raport_infitemResponse" message="tns:get_raport_infitemResponse" />
</operation>
<operation name="get_raport_infitem_1">
<input wsam:Action="http://server.com/proces_data/get_raport_infitem_1Request" message="tns:get_raport_infitem_1" />
<output wsam:Action="http://server.com/proces_data/get_raport_infitem_1Response" message="tns:get_raport_infitem_1Response" />
</operation>
<operation name="get_raport_infitem_2">
<input wsam:Action="http://server.com/proces_data/get_raport_infitem_2Request" message="tns:get_raport_infitem_2" />
<output wsam:Action="http://server.com/proces_data/get_raport_infitem_2Response" message="tns:get_raport_infitem_2Response" />
</operation>
<operation name="get_raport_intemes">
<input wsam:Action="http://server.com/proces_data/get_raport_intemesRequest" message="tns:get_raport_intemes" />
<output wsam:Action="http://server.com/proces_data/get_raport_intemesResponse" message="tns:get_raport_intemesResponse" />
</operation>
<operation name="adduser">
<input wsam:Action="http://server.com/proces_data/adduserRequest" message="tns:adduser" />
<output wsam:Action="http://server.com/proces_data/adduserResponse" message="tns:adduserResponse" />
</operation>
<operation name="addItem1">
<input wsam:Action="http://server.com/proces_data/addItem1Request" message="tns:addItem1" />
<output wsam:Action="http://server.com/proces_data/addItem1Response" message="tns:addItem1Response" />
</operation>
<operation name="deleteUser">
<input wsam:Action="http://server.com/proces_data/deleteUserRequest" message="tns:deleteUser" />
<output wsam:Action="http://server.com/proces_data/deleteUserResponse" message="tns:deleteUserResponse" />
</operation>
<operation name="deleteType">
<input wsam:Action="http://server.com/proces_data/deleteTypeRequest" message="tns:deleteType" />
<output wsam:Action="http://server.com/proces_data/deleteTypeResponse" message="tns:deleteTypeResponse" />
</operation>
<operation name="deleteItem">
<input wsam:Action="http://server.com/proces_data/deleteItemRequest" message="tns:deleteItem" />
<output wsam:Action="http://server.com/proces_data/deleteItemResponse" message="tns:deleteItemResponse" />
</operation>
<operation name="getAllUser">
<input wsam:Action="http://server.com/proces_data/getAllUserRequest" message="tns:getAllUser" />
<output wsam:Action="http://server.com/proces_data/getAllUserResponse" message="tns:getAllUserResponse" />
</operation>
<operation name="getAllTypes">
<input wsam:Action="http://server.com/proces_data/getAllTypesRequest" message="tns:getAllTypes" />
<output wsam:Action="http://server.com/proces_data/getAllTypesResponse" message="tns:getAllTypesResponse" />
</operation>
<operation name="getAllItems">
<input wsam:Action="http://server.com/proces_data/getAllItemsRequest" message="tns:getAllItems" />
<output wsam:Action="http://server.com/proces_data/getAllItemsResponse" message="tns:getAllItemsResponse" />
</operation>
<operation name="getUserById">
<input wsam:Action="http://server.com/proces_data/getUserByIdRequest" message="tns:getUserById" />
<output wsam:Action="http://server.com/proces_data/getUserByIdResponse" message="tns:getUserByIdResponse" />
</operation>
<operation name="getTypeById">
<input wsam:Action="http://server.com/proces_data/getTypeByIdRequest" message="tns:getTypeById" />
<output wsam:Action="http://server.com/proces_data/getTypeByIdResponse" message="tns:getTypeByIdResponse" />
</operation>
<operation name="getItemById">
<input wsam:Action="http://server.com/proces_data/getItemByIdRequest" message="tns:getItemById" />
<output wsam:Action="http://server.com/proces_data/getItemByIdResponse" message="tns:getItemByIdResponse" />
</operation>
<operation name="updateUser">
<input wsam:Action="http://server.com/proces_data/updateUserRequest" message="tns:updateUser" />
<output wsam:Action="http://server.com/proces_data/updateUserResponse" message="tns:updateUserResponse" />
</operation>
<operation name="getAllNames">
<input wsam:Action="http://server.com/proces_data/getAllNamesRequest" message="tns:getAllNames" />
<output wsam:Action="http://server.com/proces_data/getAllNamesResponse" message="tns:getAllNamesResponse" />
</operation>
<operation name="emp_items1">
<input wsam:Action="http://server.com/proces_data/emp_items1Request" message="tns:emp_items1" />
<output wsam:Action="http://server.com/proces_data/emp_items1Response" message="tns:emp_items1Response" />
</operation>
<operation name="emp_items2">
<input wsam:Action="http://server.com/proces_data/emp_items2Request" message="tns:emp_items2" />
<output wsam:Action="http://server.com/proces_data/emp_items2Response" message="tns:emp_items2Response" />
</operation>
<operation name="emp_items3">
<input wsam:Action="http://server.com/proces_data/emp_items3Request" message="tns:emp_items3" />
<output wsam:Action="http://server.com/proces_data/emp_items3Response" message="tns:emp_items3Response" />
</operation>
<operation name="emp_items4">
<input wsam:Action="http://server.com/proces_data/emp_items4Request" message="tns:emp_items4" />
<output wsam:Action="http://server.com/proces_data/emp_items4Response" message="tns:emp_items4Response" />
</operation>
<operation name="get_all_assign">
<input wsam:Action="http://server.com/proces_data/get_all_assignRequest" message="tns:get_all_assign" />
<output wsam:Action="http://server.com/proces_data/get_all_assignResponse" message="tns:get_all_assignResponse" />
</operation>
<operation name="check_ussign">
<input wsam:Action="http://server.com/proces_data/check_ussignRequest" message="tns:check_ussign" />
<output wsam:Action="http://server.com/proces_data/check_ussignResponse" message="tns:check_ussignResponse" />
</operation>
<operation name="delete_unssign">
<input wsam:Action="http://server.com/proces_data/delete_unssignRequest" message="tns:delete_unssign" />
<output wsam:Action="http://server.com/proces_data/delete_unssignResponse" message="tns:delete_unssignResponse" />
</operation>
<operation name="get_unssign_id">
<input wsam:Action="http://server.com/proces_data/get_unssign_idRequest" message="tns:get_unssign_id" />
<output wsam:Action="http://server.com/proces_data/get_unssign_idResponse" message="tns:get_unssign_idResponse" />
</operation>
<operation name="get_all_account">
<input wsam:Action="http://server.com/proces_data/get_all_accountRequest" message="tns:get_all_account" />
<output wsam:Action="http://server.com/proces_data/get_all_accountResponse" message="tns:get_all_accountResponse" />
</operation>
<operation name="delete_Account">
<input wsam:Action="http://server.com/proces_data/delete_AccountRequest" message="tns:delete_Account" />
<output wsam:Action="http://server.com/proces_data/delete_AccountResponse" message="tns:delete_AccountResponse" />
</operation>
<operation name="get_Account_byID">
<input wsam:Action="http://server.com/proces_data/get_Account_byIDRequest" message="tns:get_Account_byID" />
<output wsam:Action="http://server.com/proces_data/get_Account_byIDResponse" message="tns:get_Account_byIDResponse" />
</operation>
<operation name="check_Account">
<input wsam:Action="http://server.com/proces_data/check_AccountRequest" message="tns:check_Account" />
<output wsam:Action="http://server.com/proces_data/check_AccountResponse" message="tns:check_AccountResponse" />
</operation>
<operation name="add_Account">
<input wsam:Action="http://server.com/proces_data/add_AccountRequest" message="tns:add_Account" />
<output wsam:Action="http://server.com/proces_data/add_AccountResponse" message="tns:add_AccountResponse" />
</operation>
<operation name="login_confirm">
<input wsam:Action="http://server.com/proces_data/login_confirmRequest" message="tns:login_confirm" />
<output wsam:Action="http://server.com/proces_data/login_confirmResponse" message="tns:login_confirmResponse" />
</operation>
<operation name="serch_date_get_1">
<input wsam:Action="http://server.com/proces_data/serch_date_get_1Request" message="tns:serch_date_get_1" />
<output wsam:Action="http://server.com/proces_data/serch_date_get_1Response" message="tns:serch_date_get_1Response" />
</operation>
<operation name="serch_date_get_2">
<input wsam:Action="http://server.com/proces_data/serch_date_get_2Request" message="tns:serch_date_get_2" />
<output wsam:Action="http://server.com/proces_data/serch_date_get_2Response" message="tns:serch_date_get_2Response" />
</operation>
</portType>
<binding name="proces_dataPortBinding" type="tns:proces_data">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_list_unassigneds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="execute_delete_AssignCont1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="execute_insert_AssignCont1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generator_work_barcode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generator_work_mains">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_catitem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_catitems_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_empitems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_empitems_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_empitems_2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_fostangajat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_infoangajat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_infitem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_infitem_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_infitem_2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_raport_intemes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adduser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addItem1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTypeById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItemById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="emp_items1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="emp_items2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="emp_items3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="emp_items4">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_all_assign">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="check_ussign">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete_unssign">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_unssign_id">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_all_account">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete_Account">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get_Account_byID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="check_Account">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="add_Account">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login_confirm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="serch_date_get_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="serch_date_get_2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="proces_data">
<port name="proces_dataPort" binding="tns:proces_dataPortBinding">
<soap:address location="http://localhost:8080/server/proces_data" />
</port>
</service>
</definitions>